@import '/src/styles/variables';

.privacy-policy {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: $dark-gray-color;
  
    h1, h2, h3 {
      color: $black-color;
      margin-bottom: 10px;
    }
  
    h1 {
      font-size: 2rem;
      margin-top: 0;
    }
  
    h2 {
      font-size: 1.5rem;
      margin-top: 20px;
      border-bottom: 2px solid $light-gray-color;
      padding-bottom: 5px;
    }
  
    h3 {
      font-size: 1.25rem;
      margin-top: 15px;
      border-bottom: 1px solid $light-gray-color;
      padding-bottom: 5px;
    }
  
    p {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 15px;
    }
  
    ul {
      list-style: disc;
      margin-left: 20px;
      margin-bottom: 15px;
      
      li {
        margin-bottom: 5px;
      }
    }
  
    a {
      color: $blue-color;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    @media (max-width: 768px) {
      padding: 15px;
  
      h1 {
        font-size: 1.5rem;
      }
  
      h2 {
        font-size: 1.25rem;
      }
  
      h3 {
        font-size: 1rem;
      }
  
      p, ul {
        font-size: 0.875rem;
      }
    }
  
    @media (max-width: 480px) {
      padding: 10px;
  
      h1 {
        font-size: 1.25rem;
      }
  
      h2 {
        font-size: 1rem;
      }
  
      h3 {
        font-size: 0.875rem;
      }
  
      p, ul {
        font-size: 0.75rem;
      }
    }
  }
  